* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    justify-content: center;
    border-bottom: 16px solid #341f97;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: rgb(19, 138, 19);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    
}

#btn-cancelar {
    background-color: rgb(255, 31, 31);
}

ul {
    display: flex; /*para que os elementos dentro da tag UL fiquem um ao lado do outro*/
    flex-wrap: wrap; /*para que quando chegar ao limite da tela, crie-se uma nova linha */
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 250px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-image-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7); /* 70% de opacidade - 30% de transparência */
    position: absolute; /*para posicionar esse elemento no canto inferior do <li> */
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-image-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-image-link {
    opacity: 1;
} 